/* Body design for pages */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFE9F4;
    color: #484D6D;
    line-height: 1.6;
}

/* Header design */
header {
    background-color: #08B2E3;
    color: white;
    padding: 30px;
    text-align: center;
    border-bottom: 5px solid #57A773;
    font-size: 1.5rem;
}

/* Sections design */
section {
    padding: 40px;
    margin: 20px auto;
    background-color: white;
    border-radius: 15px;
    font-size: 1rem;
}

/* Navbar container for contact page links */
.navbar {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

/* Link styling using a */
/* For contact page links navbar */
.navbar a {
    display: flex;
    align-items: center;
    color: #484D6D;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 25px;
    /* Adjust borders around each link so they appear as circles */
    border-radius: 50px;
    background-color: #EFE9F4;
    width: 200px;
    text-align: center;
    justify-content: center;
}

/* Style icons from ionicons */
.navbar a ion-icon {
    font-size: 2rem;
    margin-right: 10px;
    color: #484D6D;
}

/* Hover effects for navbar */
.navbar a:hover {
    background-color: #08B2E3;
    color: white;
}

/* Unordered list design */
ul {
    list-style-type: circle;
    padding: 0;
}

/* Ordered list design */
/* Formatted for pages links at the top */
nav ol{
    display: flex;
    flex-direction: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;

}

/* Makes each link take equal space */
nav ol li {
    flex-grow: 1;
    text-align: center;
}

/* Link styling for pages links */
/* Adjusted so they sit in a row along top of page */
nav ol li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    background-color: #08B2E3;
    border-radius: 5px;
}

/* Hover effect */
nav ol li a:hover {
    background-color: #005bb5;
}

/* Course container design for relevant coursework */
.course-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
}

/* Table styling for course list */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    text-align: center;
}

th, td {
    padding: 8px;
    text-align: left;
}

/* Footer styling */
footer {
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #484D6D;
    color: white;
}

/* Media query */
@media screen and (max-width: 700px) 
{ .course-container, .navbar 
	{ flex-direction: column; 
      align-items: normal;
    } 
    nav ol {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        }

    nav ol li {
        width: 100%;
        text-align: center;
     }
}